.loading {
    position: fixed;
    height: 99vh;
    width: 99vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-text {
    font-size: 15vh;
    animation: loading infinite 2000ms ;
    /* -webkit-animation: loading infinite;
    -moz-animation: loading infinite;
    -o-animation: loading infinite; */
}

@keyframes loading {
    0% {
        transform: scale(75%);
    }

    50% {
        transform: scale(100%);
    }

    100% {
        transform: scale(75%);
    }
}