.grid-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  transition: 250ms;
  border-radius: 0.5rem;
  filter: none;
  position: relative;
  z-index: 10;
}

.grid-movie:hover {
  transition: 250ms;
  transform: scale(105%);
  filter: brightness(125%);
}

.grid-movie::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scaleY(105%) scaleX(110%);
  background-color: rgba(255, 255, 255, 0.05);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 250ms;
  opacity: 0;
}

.grid-movie:hover::before {
  transition: 250ms;
  opacity: 100%;
}

.movie-poster {
  width: 220px;
  aspect-ratio: 0.75;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.movie-poster-container {
  position: relative;
}

.movie-poster-infos {
  position: absolute;
  right: 0;
  top: 70%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  color: var(--black);
}

.movie-poster-info {
  background-color: var(--vivid-gold);
  padding: 0.5rem;
  font-weight: bold;
}

.movie-poster-info.date {
  padding: 0.5rem 1rem;
}

.movie-title {
  align-self: flex-start;
  font-size: large;
  font-weight: 500;
}

.movie-info {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  color: gray;
  font-size: small;
}

.movie-genres {
  text-transform: uppercase;
}
